
div.header {
    background-color: orange;
    text-align: center;
    padding: 5%;
}

div.stories {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.story {
    padding: 20px;
    margin: 20px;
    width: 30%;
    min-width: 400px;
    max-width: 600px;
    background-color: lightgray;
}

a:link {
    color: black;
}

a:visited {
    color: #3B3C36;
}

img {
    width: 100%;
    height: 100%;

    max-width: 400px;
    max-height: 400px;

    min-width: 100px;
    min-height: 100px;
}
